.navbar {
    background: #5f249c!important;
}

.navbar-nav {
    margin: 0!important;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.navbar-brand {
    color: #f1f1f1e6!important;
}

.nav-item, .navbar-brand {
    margin: 0 1rem;
}

.nav-item {
    padding: 10px 0;
    border-bottom: 2px solid #ffc106;
}

.nav-link {
    color: #c8c0c0e6!important;
    transition: all 0.3s;
}

.nav-link:hover {
    color: white!important;
    /* text-decoration: underline; */
    transform: scale(1.2);
}

.active-link:focus,
.active-link:active,
.active-link {
    color: white!important;
    font-weight: 600;
    /* background-color: yellow; */
}

/* .collapse .navbar-nav {
    display: none;
} */

.expand .navbar-nav {
    text-align: center;
    width: 100%;
}

/* .navbar-nav {
    width: auto;
} */

.expand.navbar-collapse {
    display: flex;
}

.navbar-collapse {
    display: none;
}


@media screen and (min-width: 992px) {
    .expand .navbar-nav {
        width: auto;
        /* display: flex!important; */
    }

    .nav-item {
        padding: 0;
        border-bottom: 0;
    }
}