.block {
    padding: 2rem;
}

.container {
    margin: 4rem auto 0;
}

@media screen and (max-width: 768px) {
    .contact-section {
        padding: 0;
    }
}

.contact__header {
    border-bottom: 1px solid rgb(180, 176, 176);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.contact__header::after {
    content: "";
    border-bottom: 3px solid #ffc106;
    display: flex;
    width: 150px;
    position: relative;
    top: 18px;
    right: calc(-50% + 75px);
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

@media screen and (max-width: 1397px) {
    /* split the contact cards into 2 grid columns */
    /* .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    } */
}

@media screen and (max-width: 814px) {
    .contact-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 549px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}

input[type='email'],
input[type='text'] {
    line-height: 2;
}

.btnSubmit {
    margin-top: 16px;
    text-align: center;
}

label[for='name'],
label[for='email'],
label[for='comment'],
.input-group div {
    width: 100%;
}

label[for='name']::after,
label[for='email']::after,
label[for='comment']::after {
    color: red;
    content: '*';
    margin-left: 4px;
    vertical-align: text-top;
}

.valid {
    border-left: 4px solid green!important;
    border-top-left-radius: 7px!important;
    border-bottom-left-radius: 7px!important;
}

.invalid {
    border: 1px solid red!important;
    border-left-width: 4px!important;
}

.error,
.required {
    color: red;
}

.form-control {
    border-left: 0;
}

.form-control:focus {
    box-shadow: none;
}

.alert.alert-success {
    text-align: center;
}

.input-house {
    border-radius: 4px!important;
    border-radius: 5px;
    border: 1px solid #d0c9cb;
    display: flex;
    overflow: hidden;
}

.input-house:focus {
    border-color: #86b7fe!important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.input-group-text, .form-control {
    border-radius: 0;
    border: 0;
}

.input-house.focused,
.input-house.focusedE,
.input-house.focusedC {
    border-color: #86b7fe!important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}