.block {
    padding: 2rem;
}

.container {
    margin: 4rem auto 0;
}

@media screen and (max-width: 768px) {
    .contact-section {
        padding: 0;
    }
}


/* contact section */
.contact__header {
    border-bottom: 1px solid rgb(180, 176, 176);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.contact__header::after {
    content: "";
    border-bottom: 3px solid #ffc106;
    display: flex;
    width: 150px;
    position: relative;
    top: 18px;
    right: calc(-50% + 75px);
}

.contact-wrapper {
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr;
    row-gap: 20px;
}

@media screen and (max-width: 1397px) {
    /* split the contact cards into 2 grid columns */
    /* .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    } */
}

@media screen and (max-width: 814px) {
    .contact-wrapper {
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 549px) {
    .contact-wrapper {
        /* display: grid; */
        grid-template-columns: 1fr;
    }
}

input[type='email'],
input[type='text'] {
    line-height: 2;
}

.btnSubmit {
    margin-top: 16px;
    text-align: center;
}

label[for='name'],
label[for='email'],
label[for='comment'],
.input-group div {
    width: 100%;
}

label[for='name']::after,
label[for='email']::after,
label[for='comment']::after {
    content: '*';
    color: red;
    margin-left: 5px;
    vertical-align: text-top;
}

.valid {
    /* border: 2px solid green; */
    border-left: 5px solid green;
}

.invalid {
    border: 2px solid red;
    border-left: 5px solid red;
}

.error,
.required {
    color: red;
}

/* .input-group-text.valid, */
.input-group-text.invalid {
    border-right: 1px solid rgb(206, 212, 218);
}

/* .form-control.valid, */
.form-control.invalid {
    border-left: 1px solid rgb(206, 212, 218);
}

.alert.alert-success {
    text-align: center;
}

.input-group-text {
    border-radius: 5px 0 0 5px;
}

/* .input-set:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
} */