.block {
    padding: 2rem;
}

.container {
    margin: 4rem auto 5rem;
}

/* contact section */
.project__header {
    border-bottom: 1px solid rgb(180, 176, 176);
    /* margin-top: 40px; */
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.project__header::after {
    content: "";
    border-bottom: 3px solid #ffc106;
    display: flex;
    width: 150px;
    position: relative;
    top: 18px;
    right: calc(-50% + 75px);
}

.project__note {
    font-size: 24px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 30px;
    /* padding: 1.5rem; */
}

@media screen and (max-width: 425px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 426px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1204px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .block {
        padding: 0;
    }
}