<div class="card">
    <img [src]="img" class="card-img-top" alt="testimonial image">
    <div class="card-body">
      <p class="card-text">{{ content }}</p>
      <cite>{{ citation }}</cite>
    </div>
</div>

<!-- <div class="card">
    <img src="../../../assets/images/default-profile-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">I was privileged to supervise Chibuzo, and he proved to be able to work with little or no supervision, always delivering on tasks when needed. I highly recommend him.</p>
    </div>
</div> -->