<div class="card">
    <!-- <a [href]="url" target="_blank"> -->
        <img [src]="image" class="card-img-top" alt="project snapshot">
    <!-- </a> -->
    <div class="card-body">
        <p class="card-text location">
            <span class="location-title">Project Name: </span>
            {{ title | trim }} <br>
        </p>
        <p class="card-text location">
            <span class="location-title">Description:</span> {{ desc | trim }} <br>
        </p>
        <p class="card-text location">
            <span class="location-title">Creator: </span>{{ author | trim }}
        </p>
        <a class="project-info" [href]="url"  target="_blank">Learn more</a>
    </div>
</div>