<!-- <p>skill-card works!</p> -->
<!-- <div class="skill-wrapper"> -->
  <div class="card">
    <img [src]="image" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{ count }} {{ extract }}</p>
    </div>
  </div>
  <!-- <div class="card">
    <img src="../../../assets/images/experience-icon.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">1 year experience</p>
    </div>
  </div> -->
  <!-- <div class="card">
    <img src="../../../assets/images/website.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">5 completed projects</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/trust.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">3 happy customers</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/guarantee-award.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">2 awards</p>
    </div>
  </div> -->
<!-- </div> -->