/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar {
    background: #5f249c!important;
}

.navbar-nav {
    margin: 0!important;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.navbar-brand {
    color: #f1f1f1e6!important;
}

.nav-item, .navbar-brand {
    margin: 0 1rem;
}

.nav-link {
    color: #c8c0c0e6!important;
    transition: all 0.3s;
}

.nav-link:hover {
    color: white!important;
    /* text-decoration: underline; */
    transform: scale(1.2);
}

/* card */
.card {
    background-color: inherit;
    border: 0;
    text-align: center;
    transform: scale(0.9);
    width: 0;
}

.card-img-top {
    border-radius: 100%;
    margin: 0 auto;
    width: 200px;
}

.page-body {
    column-gap: 20px;
    display: flex;
}

main {
    flex-grow: 1;
}

aside {
    background-color: grey;
    /* padding: 1rem 2rem; */
}

.profile-container {
    padding: 1rem 2rem;
}