/* card */
.card {
    background-color: inherit;
    border: 0;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.9);
    /* width: 0; */
}

.card-img-top {
    border-radius: 100%;
    margin: 0 auto;
    width: 200px;
}

/* .section-container {
    border-top: 0;
} */

.location-section {
    border-top: 1px solid #050792;
}

.section-container {
    border-bottom: 1px solid #050792;
    /* border-top: 1px solid #050792; */
    padding: 1rem 0;
}

.location {
    display: flex;
    margin-bottom: 0.5rem;
}

.location:last-of-type {
    margin-bottom: 0;
}

.location-title {
    flex-grow: 1;
    font-weight: 700;
}

/* list items */
.tech--list {
    padding-left: 0;
    margin-bottom: 0;
}

.tech--list-item {
    list-style: none;
    margin-bottom: 10px;
}

.tech--list-item::before {
    content: '✓';
    color: #ffc106;
    font-weight: 800;
    margin-right: 10px;
}

.tech--list-item:last-of-type,
.social-media--list {
    margin-bottom: 0;
}

.cv-link {
    color: #5c5b59;
    /* text-align: center; */
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.cv-link:hover {
    color: #ffc106;
    /* text-decoration: underline; */
}

.cv-link:hover #Capa_1 {
    fill: #ffc106;
    /* text-decoration: underline; */
}

/* social media links */
.social-media--list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.social-media--list-item {
    list-style: none;
}

svg {
    fill: #5c5b59;
    transition: all 0.3s;
}

svg:hover {
    fill: #ffc106;
}

.social-media--list-item {
    width: 18px;
}

#Capa_1 {
    position: relative;
    top: -1px;
    width: 15px;
}