<section class="card" style="width: 18rem;">
    <img src="../assets/images/default-profile-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chibuzo Diala</h5>
      <p class="card-text">Front-end developer</p>
    </div>
</section>
<section class="location-section section-container">
    <p class="location">
        <span class="location-title">State: </span>Lagos
    </p>
    <p class="location">
        <span class="location-title"> Country:</span>Nigeria
    </p>
</section>
<section class="skill-section section-container">
    <app-progress-card skill="HTML" level="80%" num="80"></app-progress-card>
    <app-progress-card skill="CSS" level="85%" num="85"></app-progress-card>
    <app-progress-card skill="SEO" level="85%" num="85"></app-progress-card>
    <app-progress-card skill="JS" level="90%" num="90"></app-progress-card>
</section>
<section class="tech-section section-container">
    <ul class="tech--list">
        <li class="tech--list-item">Bootstrap, Angular Material</li>
        <li class="tech--list-item">Angular 6+</li>
        <li class="tech--list-item">MongoDB</li>
        <li class="tech--list-item">Git</li>
        <li class="tech--list-item">Parcel</li>
    </ul>
</section>
<section class="cv-pdf section-container">
    <a href="#" class="cv-link" target="_blank">download cv</a>
</section>
<!-- <h1>Bootstrap In Angular Using NPM Package Manager</h1> -->
<!-- <br>
<br> -->
<!-- <span class="badge rounded-pill bg-primary">Primary</span>
<span class="badge rounded-pill bg-secondary">Secondary</span>
<span class="badge rounded-pill bg-success">Success</span>
<span class="badge rounded-pill bg-danger">Danger</span>
<span class="badge rounded-pill bg-warning text-dark">Warning</span>
<span class="badge rounded-pill bg-info text-dark">Info</span>
<span class="badge rounded-pill bg-light text-dark">Light</span>
<span class="badge rounded-pill bg-dark">Dark</span> -->